<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ISU.shoppingsidekick"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ISU.shoppingsidekick.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.ScanActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.FoodFinderActivity"
            android:label="@string/app_name"
            android:theme="@style/ListFont" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.RecentActionsActivity"
            android:label="@string/app_name"
            android:theme="@style/ListFont" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.RecipesActivity"
            android:label="@string/app_name"
            android:theme="@style/ListFont" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.FoodResultsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.CalendarActivity"
            android:label="@string/app_name"
             >
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.FoodConfirmationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISU.shoppingsidekick.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ISU.shoppingsidekick.CalendarInfo"
            android:label="@string/app_name"
            android:parentActivityName="com.ISU.shoppingsidekick.CalendarActivity"
            android:theme="@style/ListFont">
            
            <meta-data
      		 	android:name="android.support.PARENT_ACTIVITY"
       			android:value="PARENT_ACTIVITY_PATH" />
        </activity>
        
        <activity
            android:name="com.ISU.shoppingsidekick.LogInActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>